@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Shirt>

<h3>Shirts</h3>
<br />
<table class="table table-striped">
    <tr>
        <td>Brand</td>
        <td>Color</td>
        <td>Size</td>
        <td>Is for Men</td>
        <td>Price</td>
        <td></td>
    </tr>
    <tbody>
        @foreach (var shirt in Model)
        {
            <tr>
                <td>@shirt.BrandName</td>
                <td>@shirt.Color</td>
                <td>@shirt.Size</td>
                <td>@shirt.IsForMen</td>
                <td>@(shirt.Price.HasValue ? shirt.Price.Value.ToString("c") : "")</td>
                <td><a class="btn btn-link" asp-controller="shirts" asp-action="updateshirt" asp-route-shirtId="@shirt.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
<br />
<a class="btn btn-primary" asp-controller="shirts" asp-action="createshirt">Create</a>
